<?xml version='1.0.0.1' encoding='utf-8'?>
<widget id="io.lumiere.bizzybody" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BizzyBodyNG</name>
    <description>
        BizzyBody Event Directory
    </description>
    <author email="moseso@lumiere-ng.com" href="http://lumiere-ng.com">
        LumiereNG
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1.2.2" />
    <access origin="*" />
    <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="windows-appx-target" value="uap" />
    <preference name="windows-appx-target" value="8.1-win" />
    <preference name="windows-appx-target" value="8.1-phone" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="windows" spec="~4.4.2" />
    <engine name="ios" spec="~4.2.0" />
    <engine name="android" spec="~5.2.1" />
</widget>
